{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-md-12 text-center my-auto">
                <h4 class="mt-5 mb-3 pt-4">CGSignage Media Window</h4>
                <hr class="mt-2 mb-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center my-auto">
                <div class="table-responsive-sm small mt-1">
                    <table class="table table-sm table-striped text-center">
                        <thead class="thead-dark">
                        <tr class="d-flex">
                            <th class="col-sm-1 align-middle">id</th>
                            <th class="col-sm-2 align-middle">Name</th>
                            <th class="col-sm-3 align-middle">File</th>
                            <th class="col-sm-3 align-middle">Duration</th>
{#                            <th class="col-sm-3 align-middle">Date added</th>#}
{#                            <th class="col-sm-3 align-middle">Added by</th>#}
                            <th class="col-sm-3 align-middle">Actions</th>
                        </tr>
                        </thead>
                        {% for piece in media %}
                        <tr class="d-flex">
                            <td class="col-sm-1 align-middle">
                                #{{ piece.id }}
                            </td>
                            <td class="col-sm-2 align-middle">
                                {{ piece.name }}

                            </td>
                            <td class="col-sm-3 align-middle">
                                <a href="media/{{ piece.file }}">{{ piece.file }}</a>
                            </td>
                            <td class="col-sm-3 align-middle">
                                {{ piece.duration }}
                            </td>
                            <td class="col-sm-3 align-middle">
                               <div class="btn btn-sm btn-group-justified">
                                    <a href="/delete/{{ media.id }}" class="text-danger"><i class="fa fa-trash"></i> Delete</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <hr class="mt-1 mb-2">
                    <div class="text-center">
                        <a href="/add-media" class="btn btn-sm btn-success align-middle"><i class="fa fa-video-plus"></i> Create new media</a>
                    </div>

                    <hr class="mt-2 mb-4">
                </div>
            </div>
        </div>

    {% else %}

    {% endif %}

{% endblock %}