<nav class="navbar small navbar-dark bg-secondary fixed-top navbar-expand-md">
    <a class="navbar-brand" href="/">CGSignage</a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#mainmenu"
            aria-controls="mainmenu" aria-expanded="false" aria-label="Toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainmenu">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/media"><i class="fa fa-video-camera"></i> Media</a> </li>
            <li class="nav-item"><a class="nav-link" href="/"><i class="fa fa-calendar"></i> Campaigns</a> </li>
            <li class="nav-item"><a class="nav-link" href="/group"><i class="fa fa-cogs"></i> Groups</a> </li>
            <li class="nav-item"><a class="nav-link" href="/display-units"><i class="fa fa-server"></i> Display Units</a> </li>
            <li class="nav-item"><a class="nav-link" href="/loop-policies"><i class="fa fa-balance-scale"></i> Loop Policies</a> </li>
            <li class="nav-item"><a class="nav-link" href="/players"><i class="fa fa-tv"></i> Players</a> </li>
            <li class="nav-item"><a class="nav-link" href="/reports"><i class="fa fa-file"></i> Reports</a> </li>
            <li class="nav-item"><a class="nav-link" href="/service"><i class="fa fa-cog"></i> Service</a> </li>
            <li class="nav-item"><a class="nav-link" href="/users"><i class="fa fa-users"></i> Users</a> </li>
        </ul>
    </div>
</nav>
